.supAboutSection {
  margin: 50px 2%;
}

.aboutSection {
  display: flex;
  flex-wrap: wrap-reverse;
  margin: 50px 0;
  justify-content: space-evenly;
  align-items: center;
  cursor: pointer;
}

.aboutText {
  font-size: medium;
  font-weight: bold;
  text-align: start;
}

.sectionIntro {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px 0;
  text-decoration: underline gray;
  text-underline-offset: 5px;
}
.sectionName {
  padding: 10px 0;
  font-size: large;
  font-weight: bolder;
  opacity: 0.5;
}

.aboutSReftOutside {
  box-shadow: 1px 2px 5px grey;
  border-radius: 10px;
}

.aboutSReft {
  transition: transform 0.3s ease-out;
}

.aboutSReft:hover {
  transform: scale(1.1);
}

@media screen and (max-width: 500px) {
  .aboutSLeft {
    padding: 0 30px;
    text-align: justify;
  }
}

@media screen and (max-width: 750px) {
  .aboutSReftOutside {
    margin-bottom: 20px;
  }
  .aboutSReft {
    width: 270px;
    height: 240px;
  }
}
