.sectionIntro {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px 0;
  text-decoration: underline lightgreen;
}

.sectionName {
  padding-bottom: 20px;
  font-size: large;
  font-weight: bolder;
  position: relative;
  text-align: center;
  opacity: 0.5;
}

.educationSection{
  margin-bottom: 10%;
}

.educationContent {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}

.educationList {
  width: fit-content;
}
.educationMark {
  border-left: 2px solid grey;
  padding: 0 20px;
}

.singleEDU {
  border: 2px solid lightgrey;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  padding: 10px;
  width: 100%;
  font-size: medium;
}

.singleEDU:hover {
  transform: translateX(2px);
}

.singleEDU::before {
  content: "";
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  /* right: 100%; */
  /* top: 0; */
  background-color: black;
  border: 2px solid black;
  left: -43px;
  top: -14px;
}
/* text-align: center; */
