.sectionIntro {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px 0;
  text-decoration: underline gray;
  text-underline-offset: 5px;
}

.sectionName {
  padding-bottom: 20px;
  font-size: large;
  font-weight: bolder;
  position: relative;
  text-align: center;
  opacity: 0.5;
}

.experienceSection {
  margin: 50px 0;
}

.educationContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5% 0;
}

.educationList {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 45px;
  width: fit-content;
}
/*  */


/*  */

.singleEMPTYR {
  border-left: 2px solid grey;
  position: relative;
  left: 395px;
}

.singleEMPTYL {
  border-left: 2px solid grey;
  position: relative;
  left: -24px;
}

/*  */
.singleEXPL {
  border: 2px solid lightgrey;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  padding: 10px;
  font-size: medium;
  width: 350px;
  border-right: 2px solid black;
  box-shadow: -3px 3px 8px lightgray;
}

.singleEXPL:hover {
  transform: translateX(-2px);
}

.singleEXPL::before {
  content: "";
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid white;
  left: 374px;
  top: -14px;
}

.singleEXPL div {
  text-align: end;
  font-size: small;
  opacity: 0.5;
  font-weight: bold;
}

/*  */

.singleEXPR {
  border: 2px solid lightgrey;
  margin-bottom: 20px;
  transition: all 0.3s ease-in;
  border-radius: 5px;
  padding: 8px;
  font-size: medium;
  width: 350px;
  border-left: 2px solid black;
  box-shadow: 3px 3px 8px lightgray;
}

.singleEXPR:hover {
  transform: translateX(2px);
}

.singleEXPR::before {
  content: "";
  position: relative;
  width: 16px;
  height: 16px;
  display: inline-block;
  border-radius: 50%;
  background-color: grey;
  border: 2px solid white;
  left: -43px;
  top: -14px;
}

.singleEXPR div {
  text-align: end;
  font-size: small;
  opacity: 0.5;
  font-weight: bold;
}

/*  */
@media screen and (max-width: 415px) {
  .educationList {
    width: 80%;
  }
  .singleEXPL {
    width: 100%;
  }
  .singleEXPR {
    width: 100%;
  }
}

@media screen and (max-width: 850px) {
  .educationList {
    display: block;
  }

  .singleEXPL::before {
    content: "";
    position: relative;
    width: 16px;
    height: 16px;
    display: inline-block;
    border-radius: 50%;
    background-color: grey;
    border: 2px solid white;
    left: -43px;
    top: -14px;
  }
}
