.lastFooterSection{
    background-color: whitesmoke;
}

.contactSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 3% 0;
}
.contactMe{
  text-align: center;
}
.contactMe form * {
  /* padding: 2% 0; */
  /* text-align: center; */
  width: 100%;
  text-align: center;
}

.contactInfo div {
  padding: 2% 0;
}
.contactInfo a {
  color: black;
  padding: 1%;
}

.footerSection{
    padding-top: 3% ;
    padding-bottom: 1% ;
    text-align: center;
}

.footerSection a{
    color: black;
    text-decoration: none;
    font-weight: bolder;
    
}