.navSection {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  padding: 20px 0;
  cursor: pointer;
}

.navSectionList {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  list-style: none;
  transition: all 0.3s ease;
}

.navSectionListItems {
  padding: 0 20px;
  transition: all 0.2s ease-in;
  cursor: pointer;
}

.navSectionListItems:hover {
  border-bottom: 2px solid black;
  transform: translateY(-2px);
  opacity: 0.7;
}

.navSectionListItems a {
  text-decoration: none;
  color: black;
}

.navName:hover {
  opacity: 0.8;
}

.headSection {
  display: flex;
  flex-wrap: wrap-reverse;
  align-items: center;
  justify-content: space-between;
  padding: 5% 10% 5%;
}

.headSectionItems {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  flex-grow: 1;
}
.scrollDown {
  text-align: center;
  padding: 5% 0;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.scrollDown:hover {
  transform: translateY(5px);
}

.headSectionEachItem:hover {
  opacity: 0.7;
  cursor: pointer;
  transform: translateX(1px);
}

.headSectionIntro {
  /* display: flex; */
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
}

.projectSectionDiv {
  display: flex;
  /* flex-wrap: wrap; */
  flex-direction: column;
}

.projectSectionDiv #projectType {
  display: flex;
}

.headSectionConnect {
  text-align: center;
}
.headSectionEachItem {
  font-size: x-large;
  color: black;
}

.navMenuIcon {
  font-size: larger;
  padding: 20px 0;
  display: none;
}

.closeButton {
  text-align: end;
  display: none;
}
@media screen and (max-width: 600px) {
  .navSectionList {
    position: fixed;
    text-align: center;
    background-color: whitesmoke;
    z-index: 5;
    height: 101%;
    width: 100%;
    right: 0px;
    top: -1000px;
  }
  .navSectionListItems {
    width: 100%;
    padding-top: 20px;
  }

  .navSectionListItems:hover {
    transform: translateY(-2px);
    opacity: 0.7;
  }

  .closeButton {
    display: block;
    padding-top: 20px;
  }
  /*  */

  .headSectionItems {
    flex-direction: row;
    padding: 2% 0;
  }
  .headSectionItems a {
    padding: 1%;
  }
  .navMenuIcon {
    display: block;
  }
  .navSection {
    justify-content: space-between;
    padding: 0 10px;
  }
}
@media screen and (max-width: 800px) {
  .headSectionConnect {
    display: none;
  }
}
