#imageset {
  position: relative;
  width: 100vw;
  height: 100vh; 
  overflow: hidden;
}

#imageset::before {
  content: url("../../../public/Images/full.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%; 
  height: 100%; 
  object-fit: cover;
}
