.sectionIntro {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px 0;
  text-decoration: underline lightgreen;
}

.sectionName {
  padding: 10px 0;
  font-size: large;
  font-weight: bolder;
  opacity: 0.5;
}

.projectSectionDiv {
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 5% 0;
}

.projectType {
  display: flex;
  flex-wrap: wrap;
}

.projectType Div {
  border-bottom: 2px solid black;
  padding: 5px;
  margin: auto;
  cursor: pointer;
  transition: all 0.2s ease;
}

.projectType Div:hover {
  opacity: 0.8;
  transform: translateY(-2px);
}

.projectItems {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 18px;
  margin-bottom: 30px;
  overflow-x: auto;
  scrollbar-width: none;
  padding: 3% 10%;
}

.ScrollButton {
  position: absolute;
  top: 50%;
  right: 5%;
  color: grey;
  font-size: xx-large;
  transition: all 0.3s ease-out;
}

.ScrollButton:hover {
  opacity: 0.8;
  transform: scale(1.2);
}

.projectSingleItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: justify;
  border-radius: 20px;
  padding: 20px;
  /* border: 2px lightgray solid; */
  border-top: 1px lightgrey solid;
  border-left: 1px lightgrey solid;
  box-shadow: 5px 5px lightgray;
  transition: all 0.3s ease-in;
}

.projectSingleItem div {
  padding: 3px 0;
}

.projectSingleItem div:nth-child(1) {
  text-align: end;
}

.projectSingleItem:hover {
  transform: translateY(2px);
  background-color: lightgrey;
  cursor: grab;
}

.projectSingleItem a {
  text-align: center;
  justify-content: start;
}

.projectSingleItem i {
  font-size: 2em;
  padding: 1%;
}
