.serviceSection {
  margin: 5% 0;
}

.aboutSection {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  margin: 5% 0;
  justify-content: space-evenly;
  cursor: pointer;
}

.aboutText {
  font-size: medium;
  font-weight: bold;
  text-align: start;
}

.sectionIntro {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px 0;
  text-decoration: underline lightgreen;
}
.sectionName {
  padding: 10px;
  font-size: large;
  font-weight: bolder;
  text-align: center;
  opacity: 0.5;
}
.serviceList {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
}

.serviceContent {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  margin: 5% 0;
}

.singleService {
  padding: 10px 0;
  width: 400px;
  height: fit-content;
  text-align: center;
  text-wrap: pretty;
  transition: all 0.5s ease-in-out;
}

.singleService i {
  font-size: 4em;
}
.singleService Div {
  transition: all 0.5s ease-in-out;
  padding: 15px 0;
}

.singleService:hover Div:nth-child(1) {
  opacity: 0.7;
  transform: rotate(360deg);
  /* transform: scale(2); */
}
