.sectionIntro {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px 0;
  text-decoration: underline lightgreen;
}

.sectionName {
  padding: 10px 0;
  font-size: large;
  font-weight: bolder;
  opacity: 0.5;
}

.skillSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 15%;
}

.skilllist {
  padding: 10px 0;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.allIconsList {
  flex-grow: 2;
}
.skilllistItem {
  padding: 10px 0;
  font-weight: bold;
  font-size: large;
  transition: all 0.3s ease;
}

.skilllistItem:hover {
  opacity: 0.6;
  transform: translate(2px);
  cursor: pointer;
}

.skillSection i {
  border-radius: 15%;
  padding: 2%;
  font-size: 3em;
}

.iconsList1 {
  display: flex; /*flex*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.iconsList2,
.iconsList3 {
  display: none; /*flex*/
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
