.supSkillSection {
  margin: 50px 0;
}

.sectionIntro {
  text-align: center;
  font-weight: bolder;
  font-size: x-large;
  padding: 20px 0;
  text-decoration: underline gray;
  text-underline-offset: 5px;
}

.sectionName {
  padding: 10px 0;
  font-size: large;
  font-weight: bolder;
  opacity: 0.5;
}

.skillSection {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 5% 15%;
}

.skilllist {
  position: relative;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 10px 0;
}
.allIconsList {
  flex-grow: 2;
  padding: 2%;
}
.skilllistItem {
  padding: 10px 0;
  font-weight: bold;
  font-size: large;
  transition: all 0.3s ease;
}

.skilllistItem:hover {
  opacity: 0.6;
  transform: translate(2px);
  cursor: pointer;
}

.skillSection i {
  border-radius: 15%;
  padding: 2%;
  font-size: 3em;
}

.iconsList1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.iconsList2,
.iconsList3 {
  display: none;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.skillMenuIcon {
  display: none;
}

.skillListAll {
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 1000px) {
  .skilllist {
    flex-direction: row;
  }
  .skillListAll {
    display: flex;
    width: 100%;
    justify-content: center;
  }
  .skilllistItem {
    padding: 0 1%;
  }
  .skillSection {
    flex-direction: column;
  }
  .sectionName {
    padding: 0;
  }
}

@media screen and (max-width: 600px) {
  .skillListAll {
    display: block;
    position: absolute;
    text-align: center;
    border-radius: 10px;
    background-color: whitesmoke;
    top: 43px;
    right: 1000px;
    padding: 1%;
  }

  .skilllistItem {
    padding: 10px 0;
    font-weight: bold;
    font-size: large;
    transition: all 0.3s ease;
  }

  /*  */
  .skillMenuIcon {
    display: block;
    font-size: xx-small;
    opacity: 0.7;
    text-align: end;
  }
  .skilllist {
    justify-content: space-between;
  }
}
